.confirm-dialog-containers {
    display: grid;
    place-items: center;
}

.confirm-dialog-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
    height: 5rem;
}