<button class="add-movie-button" type="button" mat-raised-button color="primary" (click)="addMovie()">
    <div class="custom-button-wrapper"><mat-icon class="add-movie-button__icon">add</mat-icon>Add</div>
</button>   
<div *ngIf="movies" class="custom-grid-container">
    
    <div class="list-item" *ngFor="let movie of movies; let i = index">
        <h3>
            {{movie.Title | capitalize}}
        </h3>
        <div>
            Year: {{movie.Year}}
        </div>
        <div>
            Runtime: {{movie.Runtime}}
        </div>
        <div>
            Genre: {{movie.Genre}}
        </div>
        <div>
            Director: {{movie.Director}}
        </div>
        <img [src]="movie.Poster" onerror="this.src='assets/AltImage.png'">
        <div class="list-item__action-buttons">
            <button type="button" mat-raised-button color="accent" (click)="editMovie(movie, i)">
                <mat-icon>edit</mat-icon>Edit
            </button>
            <button type="button" mat-raised-button color="warn" (click)="deleteMovie(i)">
                <mat-icon>delete</mat-icon>Delete
            </button>
         </div>
    </div>
</div>